<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @section.content %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @section.checked %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
