<h1>User: <%= @admin_user.email %></h1>
<p id="notice"><%= notice %></p>


<p>
  <b>Roll:</b> <%= @admin_user.role %>
</p>
<p><b>Alla siter</b>
	<% @admin_user.sites.each do |org| %>
		<br /><%= link_to org.title, org %>
	<% end %>
	<br /><br />
	<%= link_to "Skapa ny site", new_admin_user_site_path(@admin_user) %>
	
</p>

<br />
<br />
<%= link_to 'Edit', edit_admin_user_path(@admin_user) %> |
<%= link_to 'Index', admin_users_path %>
