<p id="notice"><%= notice %></p>


<p>
  <strong>Din site: <%= @site.title %></strong>
</p>

<p><strong>Sidor</strong>
	<% @site.pages.each do |page| %>
		<%= link_to page.title, page %>
	<%end%>
	<br><br>
	<%= link_to "Ny sida", new_site_page_path(@site) %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', admin_user_sites_path(@site) %>
